train-00000-of-00005-c6681348ac8543dc.parquet
validation-00000-of-00002-7a5ea3756991bf72.parquet
finetuned_atco.pth
Recording.wav
lora_model/adapter_config.json
lora_model/adapter_model.safetensors
finetuned_on_odia_steps_100.pth
finetuned_on_odia_steps_200.pth
finetuned_on_odia_steps_246.pth
finetuned_on_odia_steps_300.pth
finetuned_on_odia_steps_400.pth
finetuned_on_odia_steps_500.pth
finetuned_on_odia_steps_600.pth
finetuned_on_odia_steps_700.pth
finetuned_on_odia_steps_800.pth
finetuned_on_odia_steps_900.pth
finetuned_on_odia_steps_1000.pth
odia_audio_youtube.mp3
odia_audio.wav
transcriptions.txt
